<DOCTYPE html>
	{% autoescape true %}
	<html>
	<head>
		<title>App Engine</title>
		<link rel="stylesheet" type="text/css" href="/static/main.css" />
	</head>

	<body>
		<a href="/"><h1 class="main-title">App Engine</h1></a>

		{% block content %}
		{% endblock %}

		<div class="footer">
			<span>Go to: </span>
			<span>
				{% if user %}
				<a href="/newpost">New Post</a>
				{% else %}
				<a href="/signup">Signup</a>
				{% endif %}
			</span>		
			<span>
			{% if user %}
				<a href="/logout">Logout</a>
			{% else %}
				<a href="/login">Login</a>
			{% endif %}
			</span>			
			<span>
				<a href="/">Blog</a>
			</span>
		
			<span class="credits">
				Made with love by Viennalabs 2014.
			</span>
		</div>

	</body>
	</html>
	{% endautoescape %}