{% extends "base.html" %}

{% block content %}
<div class="main">
	<div class="subheading"><h2>Login</h2></div>

	<form method="post">
		<table>
			<tr>
				<td class="label">
					Username
				</td>
				<td>
					<input type="text" name="username" value="{{ username }}">
				</td>
				<td class="error">
					{{ username_error }}
				</td>
			</tr>

			<tr>
				<td class="label">
					Password
				</td>
				<td>
					<input type="password" name="password" value="">
				</td>
				<td class="error">
					{{ password_error }}
				</td>
			</tr>
			<tr>
				<td class="error">
					{{ user_exists_error }}
				</td>							
			</tr>
		</table>

		<input type="submit" value="Signin">
	</form>
	
	<p class="error">{{ other_error }}</p>
</div>
{% endblock %}
